GITHUB_REPOSITORY_URL=https://github.com/ethanh2003/Home-Server-Set-up
GITHUB_RUNNER_TOKEN=replace-with-short-lived-registration-token
GITHUB_RUNNER_NAME=homelab-docker-runner
GITHUB_RUNNER_LABELS=homelab,docker
GITHUB_RUNNER_WORKDIR=_work
